/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: blue;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
  margin: 5px;
}

li {
  margin-bottom: 5px;
}